/* タブレット用 */
@media(max-width: 1024px){
  /* index.htmlの部屋を作るモーダル */
  .new-room-modal {
    left: 15%;
    width: 70%;
  }

  /* index.htmlの部屋に入るモーダル */
  .join-room-modal {
    left: 15%;
    width: 70%;
  }

  /* index.htmlのチャット所説明部分 */
  .chat-jo-info-title {
    font-size: 18px;
  }
  .chat-jo-info-text {
    line-height: 20px;
    font-size: 15px;
  }

  /* room.htmlの待機モーダル */
  .waiting-modal {
    left: 15%;
    width: 70%;
  }
  .waiting-title {
    font-size: 22px;
  }
  #name-form {
    margin-top: 30px;
  }
  .name-form-text {
    width: 40%;
  }
  #your-name {
    margin-top: 30px;
  }
  #waiting-messages {
    font-size: 15px;
  }
  .waiting-message {
    margin-top: 30px;
  }
  .join-count {
    margin-top: 30px;
  }

  /* room.htmlの部屋を閉めるモーダル */
  .close-room-modal {
    left: 15%;
    width: 70%;
  }

  /* room.htmlのチャット表示部分 */
  .chat-main {
    padding: 10px 25px;
  }
  .message-image {
    max-height: 180px;
  }
}


/* スマホ用 */
@media(max-width: 599px) {
  /* index.htmlのヘッダー部分 */
  .top-container {
    width: 90%;
    height: 60px;
  }
  .top-logo {
    height: 60px;
  }
  .top-logo-image {
    height: 60px;
  }
  .top-btn {
    font-size: 14px;
    width: 100px;
    height: 60px;
  }

  /* index.htmlの部屋を作るモーダル */
  .new-room-modal {
    top: 17%;
    left: 12.5%;
    width: 75%;
  }

  /* index.htmlの部屋に入るモーダル */
  .join-room-modal {
    top: 17%;
    left: 12.5%;
    width: 75%;
  }

  /* index.htmlのチャット所説明部分 */
  .chat-jo-info {
    width: 90%;
  }
  .chat-jo-info-text {
    line-height: 18px;
    font-size: 14px;
  }

  /* index.htmlのメイン部分 */
  .rooms-container {
    width: 90%;
  }
  .rooms-list-top {
    line-height: 22px;
  }
  .rooms-list-item {
    line-height: 22px;
  }
  .room-name {
    width: calc(100% - 85px - 60px);
  }
  .room-capacity {
    width: 60px;
  }

  /* room.htmlの待機モーダル */
  .waiting-modal {
    top: 17%;
    left: 12.5%;
    width: 75%;
    padding: 30px 20px;
  }
  .waiting-title {
    font-size: 20px;
  }
  .name-form-text {
    width: 67%;
  }
  #waiting-messages {
    line-height: 20px;
    font-size: 14px;
  }
  .waiting-message {
    margin-top: 20px;
  }
  .join-count {
    margin-top: 20px;
  }

  /* room.htmlのヘッダー部分 */
  .chat-header {
    height: 75px;
    padding: 5px;
  }
  .chat-header-left {
    width: calc(100% - 160px);
    padding: 0 5px;
  }
  .chat-header-right {
    width: 160px;
    flex-direction: column;
  }
  .chat-room-name {
    font-size: 18px;
    font-weight: bold;
  }
  .chat-room-time {
    margin-right: 0;
  }
  .chat-room-close {
    height: 36px;
    margin-top: 7px;
  }

  /* room.htmlの部屋を閉めるモーダル */
  .close-room-modal {
    top: 17%;
    left: 12.5%;
    width: 75%;
  }

  /* room.htmlのチャット表示部分 */
  .chat-main {
    margin-top: 75px;
    padding: 5px 15px;
    height: calc(var(--vh) * 100 - 75px - 60px);
  }
  .message-image {
    max-height: 150px;
  }

  /* room.htmlのフォーム部分 */
  .chat-form-container {
    height: 60px;
  }
  .chat-form {
    height: 60px;
    padding: 10px;
  }
  .chat-form-text {
    padding-left: 7px;
    font-size: 15px;
  }
  .chat-form-image {
    width: 55px;
    font-size: 14px;
  }
  .chat-form-btn {
    margin-left: 10px;
    padding: 0 10px;
  }
  #image-preview::after {
    left: 54%;
  }
}

