/* オーバーレイ */
.overlay {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.3;
}
.overlay.open {
  display: block;
}


/* フラッシュメッセージ */
.flash {
  position: fixed;
  bottom: 10vh;
  left: 5vw;
}
.flash-container {
  background-color: #cbcbff;
  color: #0b0b7a;
  padding: 0 20px;
  min-width: 40vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.flash-text {
  line-height: 50px;
}
.flash-close-btn {
  margin: 15px 0 15px 30px;
  border: none;
  padding: 0;
  background: none;
  width: 20px;
  cursor: pointer;
}
.flash-close-icon {
  font-size: 20px;
  display: block;
  margin: 0 auto;
}


/* index.htmlのヘッダー部分 */
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 992px;
  height: 80px;
  margin: 15px auto;
}
.top-logo {
  height: 80px;
}
.top-btn {
  text-decoration: none;
  background-color: #1919fa;
  color: white;
  font-size: 18px;
  width: 120px;
  line-height: 60px;
  border: none;
  margin: 10px 0;
  padding: 0 15px;
  cursor: pointer;
}


/* index.htmlの部屋を作るモーダル */
.new-room-modal {
  display: none;
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 25%;
  width: 50%;
  height: auto;
  margin: 0 auto;
  background: white;
}
.new-room-modal.open {
  display: block;
}
.new-room-wrapper {
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  position: relative;
}
.new-room-close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.new-room-close-icon {
  font-size: 2.5em;
  margin: 5px;
}
.new-room-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.new-room-column {
  margin-top: 30px;
}
.new-room-column #room-name {
  width: 100%;
  margin-top: 10px;
}
.new-room-btn {
  display: block;
  margin: 40px auto 0;
  border: none;
  width: 150px;
  height: 50px;
  background-color: #aaa;
  font-size: 20px;
  color: white;
  cursor: default;
}


/* index.htmlの部屋に入るモーダル */
.join-room-modal {
  display: none;
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 25%;
  width: 50%;
  height: auto;
  margin: 0 auto;
  background: white;
}
.join-room-modal.open {
  display: block;
}
.join-room-wrapper {
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  position: relative;
}
.join-room-close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.join-room-close-icon {
  font-size: 2.5em;
  margin: 5px;
}
.join-room-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.join-room-column {
  margin-top: 30px;
}
.join-room-name {
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
}
.join-room-btn {
  display: block;
  margin: 40px auto 0;
  border: none;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background-color: #1919fa;
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}


/* index.htmlのチャット所説明部分 */
.chat-jo-info {
  width: 80%;
  margin: 20px auto 0;
}
.chat-jo-info-title {
  font-size: 20px;
}
.chat-jo-info-text {
  margin-top: 5px;
  line-height: 22px;
}
.chat-jo-info-text span {
  color: #a00;
}


/* index.htmlのメイン部分 */
.rooms-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 992px;
  margin: 20px auto;
}
.rooms-top {
  display: flex;
  justify-content: space-between;
  height: 20px;
}
.rooms-top-title {
  font-size: 20px;
}
.rooms-selector-item {
  font-size: 20px;
}
.rooms-main {
  margin-top: 20px;
}
.rooms-list {
  border: 1px solid black;
}
.rooms-list-top {
  display: flex;
  justify-content: space-around;
  background-color: #ddd;
  line-height: 20px;
}
.rooms-list-item {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
  line-height: 20px;
}
.room-link:hover {
  text-decoration: underline;
}
.room-name {
  width: calc(100% - 85px - 85px);
  padding: 5px 10px;
}
.room-name.join-room {
  color: #1919fa;
  cursor: pointer;
}
.room-name.join-room:hover {
  text-decoration: underline;
}
.room-time {
  width: 85px;
  border-left: 1px solid black;
  padding: 5px 10px;
}
.room-capacity {
  width: 85px;
  border-left: 1px solid black;
  padding: 5px 10px;
}


/* room.htmlの待機モーダル */
.waiting-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.3;
}
.waiting-overlay.close {
  display: none;
}
.waiting-modal {
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 25%;
  width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 30px;
  background: white;
  text-align: center;
}
.waiting-modal.close {
  display: none;
}
.waiting-title {
  font-size: 24px;
  font-weight: bold;
}
#name-form {
  margin-top: 25px;
}
.name-form-text {
  width: 180px;
}
.name-form-submit {
  background-color: #aaa;
  color: white;
  border: none;
  cursor: default;
}
#your-name {
  margin-top: 25px;
  line-height: 23px;
}
#waiting-messages {
  line-height: 20px;
}
.waiting-message {
  margin-top: 25px;
}
.join-count {
  margin-top: 25px;
}
#not-vacant-modal {
  display: none;
}
.leave-room-btn {
  display: block;
  margin: 30px auto 0;
  border: none;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background-color: #1919fa;
  font-size: 18px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.after-join {
  display: none;
}
.waiting-error {
  margin: 60px 0;
}


/* room.htmlのヘッダー部分 */
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 2px solid #ddd;
  padding: 9px 30px;
  position: fixed;
  top: 0;
}
.chat-header-left {
  width: calc(100% - 300px);
  padding-right: 30px;
}
.chat-header-right {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-room-name {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}
.chat-room-time {
  display: inline-block;
}
.chat-room-close {
  border: none;
  width: 120px;
  height: 40px;
  background-color: #1919fa;
  color: white;
  font-size: 15px;
  cursor: pointer;
}


/* room.htmlの部屋を閉めるモーダル */
.close-room-modal {
  display: none;
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 25%;
  width: 50%;
  height: auto;
  margin: 0 auto;
  background: white;
}
.close-room-modal.open {
  display: block;
}
.close-room-wrapper {
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  position: relative;
}
.close-room-close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.close-room-close-icon {
  font-size: 2.5em;
  margin: 5px;
}
.close-room-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.close-room-column {
  margin-top: 40px;
}
.close-room-name {
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
}
.close-room-caution {
  color: #a00;
  line-height: 20px;
}
.close-room-btn {
  display: block;
  margin: 40px auto 0;
  border: none;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background-color: #1919fa;
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}


/* room.htmlのチャット表示部分 */
.chat-main {
  margin-top: 80px;
  padding: 10px 30px;
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 80px - 80px);
}
.message {
  padding: 10px 0;
}
.message-user {
  font-weight: bold;
}
.message-text {
  margin-top: 7px;
}
.message-image {
  margin-top: 7px;
  object-fit: contain;
  max-width: 100%;
  max-height: 200px;
}


/* room.htmlのフォーム部分 */
.chat-form-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #ddd;
}
.chat-form {
  width: 100%;
  height: 80px;
  padding: 20px 30px;
  display: flex;
}
.chat-form-input {
  width: 100%;
  position: relative;
  display: flex;
  background-color: white;
}
.chat-form-text {
  border: none;
  padding-left: 10px;
  width: 100%;
  height: 40px;
}
.chat-form-image {
  background-color: #000000;
  color: white;
  margin: 5px 10px;
  width: 60px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.chat-form-btn {
  background-color: #1919fa;
  color: white;
  margin-left: 20px;
  border: none;
  padding: 0 20px;
  cursor: pointer;
}
#image-preview {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #fff;
  top: -165px;
  right: -38px;
  border: 1px solid black;
  border-radius: 20%;
  display: none;
}
#image-preview.open {
  display: block;
}
#image-preview::after {
  content: "";
  width: 15px;
  height: 15px;
  border: solid black;
  border-width: 0 1px 1px 0;
  background-color: white;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: rotate(45deg);
  transform-origin: top left;
  border-radius: 2px 0;
}
.preview-image {
  object-fit: contain;
  margin: 12px;
}
#preview-close {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  background: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: 0;
}
#preview-close .preview-close-icon {
  font-size: 20px;
}


/* 隠したいもの用 */
.hidden {
  display: none;
}