{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head prefix=”og: http://ogp.me/ns#”>
  <meta charset="utf-8" />
  <meta name="description" content="時間制限＆人数固定のチャット">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta property="og:url" content="http://chatjo.corkbat.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="チャット所">
  <meta property="og:description" content="時間制限＆人数固定のチャット">
  <meta property="og:image" content="../static/images/icon.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@sanada_bat">
  <title>チャット所</title>
  <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" integrity="sha384-vuFJ2JiSdUpXLKGK+tDteQZBqNlMwAjhZ3TvPaDfN9QmbPb7Q8qUpbSNapQev3YF" crossorigin="anonymous"></script>
  <link rel="icon" href="{% static 'images/favicon.ico' %}">
  <link rel="apple-touch-icon" href="{% static 'images/icon.png' %}">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
  <div class="overlay"></div>
  {% block content %}
  {% endblock %}
  <script type="text/javascript" src="{% static 'javascript/viewheight.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/modal.js' %}"></script>
</body>
</html>
