{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="top-container">
  <a href="#" class="top-logo"><img class="top-logo-image" src="{% static 'images/shuei.png' %}" height="60px"></a>
  <button class="top-btn" id="new-room-btn">部屋を作る</button>
</div>

<div class="new-room-modal">
<div class="new-room-wrapper">
  <button type="button" class="new-room-close"><span class="fas fa-times new-room-close-icon"></span></button>
  <p class="new-room-title">部屋を作る</p>
  <form method="post" class="new-room-form" id="new-room">
    {% csrf_token %}
    <div class="new-room-column">
      <label for="name">部屋の名前</label>
      <input type="text" name="name" id="room-name" placeholder="例：雑談したい">
    </div>
    <div class="new-room-column">
      <label for="time">制限時間：</label>
      <select id="new-room-time" name="room-time">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8" selected>8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select> 分
    </div>
    <div class="new-room-column">
      <label for="capacity">定員　　：</label>
      <select id="new-room-capacity" name="room-capacity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3" selected>3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select> 人
    </div>
    <input type="submit" class="new-room-btn" value="作る">
  </form>
</div>
</div>

<div class="join-room-modal">
<div class="join-room-wrapper">
  <button type="button" class="join-room-close"><span class="fas fa-times join-room-close-icon"></span></button>
  <p class="join-room-title">部屋に入る</p>
  {% for room in rooms %}
  <div class="join-room-info" data-room-id="{{ room.id }}">
    <div class="join-room-column">
      <p>部屋名</p>
      <p class="join-room-name">{{ room.name }}</p>
    </div>
    <div class="join-room-column">
      <p>制限時間： {{ room.time }} 分</p>
    </div>
    <div class="join-room-column">
      <p>定員　　： {{ room.capacity }} 人</p>
    </div>
    <a href="room/{{ room.id }}" type="submit" class="join-room-btn" id="join-room">入る</a>
  </div>
  {% endfor %}
</div>
</div>

<div class="rooms-container">
  <div class="rooms-top">
    <p class="rooms-top-title">部屋一覧</p>
    <form method="get">
      {% csrf_token %}
      <select id="rooms-selector" name="rooms-order" onchange="submit(this.form)">
        <option class="rooms-selector-item" value="new" {% if rooms_order == "new" %}selected{% endif %}>新着順</option>
        <option class="rooms-selector-item" value="random" {% if rooms_order == "random" %}selected{% endif %}>ランダム表示</option>
      </select>
    </form>
  </div>
  <div class="rooms-main">
  <ul class="rooms-list">
    <li class="rooms-list-top">
      <p class="room-name">部屋の名前</p>
      <p class="room-time">時間制限</p>
      <p class="room-capacity">定員</p>
    </li>
    {% for room in rooms %}
      <li class="rooms-list-item">
        <p class="room-name join-room" data-room-id="{{ room.id }}">{{ room.name }}</p>
        <p class="room-time">{{ room.time }}分</p>
        <p class="room-capacity">{{ room.capacity }}人</p>
      </li>
    {% endfor %}
  </ul>
  </div>
</div>
{% endblock %}
