{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="waiting-overlay"></div>
<div class="waiting-modal">
  <div id="vacant-modal">
    <p class="waiting-title">待機室</p>
    <form class="name-form" id="name-form">
      <label class="name-form-title" for="name">あなたの名前：</label>
      <input type="text" id="input-name" class="name-form-text" placeholder="ここに名前を入力">
      <input type="submit" class="name-form-submit" value="決定">
    </form>
    <p id="your-name">あなたの名前：<span id="your-name-content"></span></p>
    <div id="waiting-message">
      <p>参加者が集まり次第始まります<br>(10分経っても集まらない場合、部屋は削除されます)</p>
      <p class="join-count">現在の参加人数： <span id="participants_number">{{ participants_num }}</span> / {{ room.capacity }} 人</p>
      <p class="waiting-message">{{ capacity_limit_time.hour }}時{{ capacity_limit_time.minute}}分までに集まらなかった場合、この部屋は削除されます</p>
    </div>
  </div>
  <div id="not-vacant-modal">
      <p class="waiting-title">エラー(満室)</p>
    <div id="waiting-message">
      <p>この部屋は満室です。<br><br>以下のボタンからトップページに戻れます。</p>
    </div>
    <a href="/" class="leave-room-btn">部屋一覧へ戻る</a>
  </div>
</div>

<div class ="chat-header">
  <div class="chat-header-left">
    <p class="chat-room-name">{{ room.name }}</p>
  </div>
  <div class="chat-header-right">
    <p class="chat-room-time">残り時間：<span id="limit-minutes"></span><span id="limit-seconds"></span></p>
    <button type="button" class="chat-room-close" id="chat-room-close">部屋を閉める</button>
  </div>
</div>

<div class="close-room-modal">
<div class="close-room-wrapper">
  <button type="button" class="close-room-close"><span class="fas fa-times close-room-close-icon"></span></button>
  <p class="close-room-title">部屋を閉める</p>
  <div class="close-room-info">
    <div class="close-room-column">
      <p>部屋の名前</p>
      <p class="close-room-name">{{ room.name }}</p>
    </div>
    <div class="close-room-column">
      <p class="close-room-caution">部屋は削除され、参加しているメンバーも強制的にトップページへ飛ばされます。</p>
    </div>

    <!-- <form method="post" id="close-form">
      {% csrf_token %}
      <input type="hidden" name="close-room-input" value="{{room.id}}">
      <button type="submit" id="close-room" class="close-room-btn">部屋を閉める</button>
    </form> -->
    <form method="get" action="/">
      <input type="submit" id="close-room" class="close-room-btn" name="room-closed" value="部屋を閉める"> 
    </form>

  </div>
</div>
</div>

<div id="messages" class="chat-main">
</div>

<div class="chat-form-container">
  <form id="chat-form" class="chat-form">
    <div class="chat-form-input">
      <input type="text" id="chat-text" class="chat-form-text" placeholder="ここにテキストを入力" disabled>
      <label class="chat-form-image">
        <span class="message-image-file">画像</span>
        <input type="file" class="hidden" id="image-input" disabled>
      </label>
      <div id="image-preview">
        <p type="button" id="preview-close"><span class="fas fa-times preview-close-icon"></span></p>
      </div>
    </div>
    <input type="submit" class="chat-form-btn" value="送信">
  </form>
</div>
<div class="hidden" id="room-capacity">{{ room.capacity }}</div>
<div class="hidden" id="room-time">{{ room.time }}</div>
<script src="{% static 'javascript/ws.js' %}"></script>
<script src="{% static 'javascript/preview.js' %}"></script>
{% endblock %}
