{% extends 'base.html' %}
{% load static %}

{% block content %}

{% autoescape off %}
<script type="text/javascript">
  let roomTime = parseInt("{{room.time}}");
  let roomCapacity = "{{room.capacity}}";
</script>
{% endautoescape %}

<div class="waiting-overlay"></div>
<div class="waiting-modal">
  <div id="vacant-modal">
    <p class="waiting-title">待機室</p>
    <form class="name-form before-join" id="name-form">
      <input type="text" id="input-name" class="name-form-text" placeholder="名前を入力(15文字まで)" pattern=".*\S+.*" title="空白文字のみはNGです" maxlength="15">
      <input type="submit" class="name-form-submit" id="name-submit" value="決定" disabled>
    </form>
    <p id="your-name" class="after-join">あなたの名前：<span id="your-name-content"></span></p>
    <div id="waiting-messages">
      <p class="waiting-message before-join">名前を入力することで参加者としてカウントされます</p>
      <p class="waiting-message after-join">参加者が集まり次第、部屋が開始されます</p>
      <p class="join-count">現在の参加人数： <span id="participants_number">{{ participants_num }}</span> / {{ room.capacity }} 人</p>
      <p class="waiting-message">{{ capacity_limit_time.hour }}時{{ capacity_limit_time.minute}}分までに集まらなかった場合、この部屋は削除されます</p>
    </div>
    <a href="/" class="leave-room-btn">待機室から出る</a>
  </div>
  <div id="not-vacant-modal">
      <p class="waiting-title">エラー(満室)</p>
      <p class="waiting-error">この部屋は満室です。</p>
      <p class="waiting-error">以下のボタンからトップページに戻れます。</p>
      <a href="/" class="leave-room-btn">部屋一覧へ戻る</a>
  </div>
</div>

<div class ="chat-header">
  <div class="chat-header-left">
    <p class="chat-room-name">{{ room.name }}</p>
  </div>
  <div class="chat-header-right">
    <p class="chat-room-time">残り時間：<span id="limit-minutes"></span><span id="limit-seconds"></span></p>
    <button type="button" class="chat-room-close" id="chat-room-close">部屋を閉める</button>
  </div>
</div>

<div class="close-room-modal">
<div class="close-room-wrapper">
  <button type="button" class="close-room-close"><span class="fas fa-times close-room-close-icon"></span></button>
  <p class="close-room-title">部屋を閉める</p>
  <div class="close-room-info">
    <div class="close-room-column">
      <p>部屋の名前</p>
      <p class="close-room-name">{{ room.name }}</p>
    </div>
    <div class="close-room-column">
      <p class="close-room-caution">部屋は削除され、参加しているメンバーもトップページへ戻されます。</p>
    </div>

    <!-- <form method="post" id="close-form">
      {% csrf_token %}
    </form> -->
    <form method="post" action="/">
      {% csrf_token %}
      <input type="hidden" name="close-room-input" value="{{room.id}}">
      <button type="submit" id="close-room" class="close-room-btn">閉める</button>
    </form>

  </div>
</div>
</div>

<div id="messages" class="chat-main">
</div>

<div class="chat-form-container">
  <form id="chat-form" class="chat-form">
    <div class="chat-form-input">
      <input type="text" id="chat-text" class="chat-form-text" placeholder="ここにテキストを入力" disabled>
      <label class="chat-form-image">
        <span class="message-image-file">画像</span>
        <input type="file" accept="image/*" class="hidden" id="image-input" disabled>
      </label>
      <div id="image-preview">
        <p type="button" id="preview-close"><span class="fas fa-times preview-close-icon"></span></p>
      </div>
    </div>
    <input type="submit" class="chat-form-btn" value="送信">
  </form>
</div>
<script type="text/javascript" src="{% static 'javascript/modal.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/ws.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/preview.js' %}"></script>
{% endblock %}
